<header>
            
    <nav>
        
        <div id="logo">
            <a href="/"><img src="design/logo_chico.jpg" alt="Logo"></a>
        </div>
        
        <div id="boton-menu">
            <i class="fas fa-bars menu"></i>
        </div>
       
        <div id="barra-nav">
            <div id="barra-nav1">
                <a href="" class="space">COLECCIÓN</a>
                <a href="" class="space">SALE</a>
                <a href="" class="space">COMO COMPRAR</a>
                <a href="" class="space">NOSOTROS</a>
            </div>
            <div id="barra-nav2">
                <a href="" class="space"><i class="fas fa-search"></i></a>
                <ul><a href="" class="space"><i class="far fa-user-circle"></i></a>
                    <li><a href="/login">Ingresá</a></li>    
                    <li><a href="/register">Registrate</a></li>
                </ul>
                <a href="/cart" class="space"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>

    </nav>
    
</header>