<header>
            
    <nav>
        
        <div id="logo">   <!--// Logo Babieka //-->
            <a href="/">
                <img src="/design/logo_chico.jpg" alt="Logo">
            </a>
        </div>
        
        <div id="boton-menu">   <!--// Botón Menu //-->
            <i class="fas fa-bars menu"></i>
        </div>
       
        <div id="barra-nav">   <!--// Barra Navegación //-->
            <div id="barra-nav1">
                <a href="/producto" class="space">COLECCIÓN</a>
                <a href="/producto/sale" class="space">SALE</a>
                <a href="/como-comprar" class="space">COMO COMPRAR</a>
                <a href="/nosotros" class="space">NOSOTROS</a>
            </div>
            <div id="barra-nav2">
                <a href="" class="space"><i class="fas fa-search"></i></a>
                <ul><a href="" class="space"><i class="far fa-user-circle"></i></a>
                    <li><a href="/usuario/login">Ingresá</a></li>    
                    <li><a href="/usuario/registro">Registrate</a></li>
                </ul>
                <a href="/producto/carrito" class="space"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>

    </nav>
    
</header>