<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Crear producto'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <main class="registermain">
    
            <section class= "formulario-upload">
               
                <h1 class="h1-size marg-0 centrar">Nuevo artículo</h1>
                <form action="/producto/crear" method="POST" enctype="multipart/form-data">    <!--// Formulario Nuevo Artículo //-->
                    
                    <label for="nombreArticulo"></label>    <!--// Nombre //-->
                    <p><input type="text" name="name" id="nombreArticulo" placeholder="Nombre del artículo"></p>

                    <!--agregar un select con un for para seleccionar el nombre-->
                    
                    <p>
                        <label for="categoriaArticulo">Categoría del artículo: </label> <!--// Categoria //-->
                        <select name="category"> 
                            <option value="selecciona"  selected disabled>Selecciona...</option>
                            <option value="1">Casual</option> 
                            <option value="2">Fiesta</option>
                            <option value="3">Sale</option>
                        </select>
                    </p>
                   
                    <p>
                        <label for="tipoArticulo">Tipo de artículo: </label> <!--// Tipo //-->
                        <select name="type"> 
                            <option value="selecciona"  selected disabled>Selecciona...</option> 
                            <option value="1">Borcego</option>
                            <option value="2">Bota</option>
                            <option value="3">Botineta</option>
                            <option value="4">Mule</option>
                            <option value="5">Sandalia</option>
                            <option value="6">Zapato</option>
                            
                        </select>
                    </p>
                    
                    <p>
                        <label for="talleArticulo">Talle de artículo: </label> <!--// Talle //-->
                        <select name="size">    
                            <option value="selecciona"  selected disabled>Selecciona...</option> 
                            <option value="1">35</option> 
                            <option value="2">36</option>
                            <option value="3">37</option>
                            <option value="4">38</option>
                            <option value="5">39</option>
                            <option value="6">40</option>
                        </select>
                    </p>

                    <p>
                        <label for="colorArticulo">Color del artículo: </label> <!--// Color //-->
                        <select name="color">   
                            <option value="selecciona"  selected disabled>Selecciona...</option> 
                            <option value="1">Blanco</option>
                            <option value="2">Marrón</option>
                            <option value="3">Negro</option> 
                            <option value="4">Nude</option>
                            <option value="5">Oro</option>
                            <option value="6">Plata</option>
                            <option value="7">Rojo</option>
                        </select>
                    </p>
                    
                    <!--agregar un select con un for para seleccionar la descripcion-->
                    <label for="descripcArticulo"></label>    <!--// Descripción //-->
                    <textarea name="description" id="descripcArticulo" cols="46" rows="4" placeholder="Añada una breve descripción del artículo y sus materiales"></textarea>


                    <!--agregar un select con un for para seleccionar la imagen-->
                    <p>    <!--// Imagen //-->
                        <input type="file" name="imagenArticulo" accept="image/png, .jpeg, .jpg, image/gif"> 
                        <input type="submit" value="Subir Imagen">  
                    </p>

                    <label for="discount"></label>    <!--// El Discount //-->
                    <p><input type="text" name="discount" id="discount" placeholder="Descuento"></p>   
                    
                    <label for="precioArticulo"></label>    <!--// Precio //-->
                    <p><input type="text" name="price" id="precioArticulo" placeholder="Precio"></p>    

                    <button type="submit">Crear artículo</button>    <!--// Botón Crear //-->

                </form>
    
            </section>
    
        </main>
        
        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>