<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Cómo comprar'}) %>   <!--// partial Head //-->
    <body>

        <%- include('../partials/header') %>   <!--// partial Header //-->

        <main class="mainHowTB">
            
            <div class="imageHowTB">
                <img src="/img/img_HowToBuy.jpg" alt="imagen de modelo"  >
            </div>     
            
            <div class="howTBSection">
                <section >
                    <h1 class="centrar">Tu compra se completó con éxito!</h1>
                    <article>
                        <div >
                            <p> Recibirás un correo de nuestra parte, con todos los datos de tu compra. </p>   
                            <p> Cuando se acredite el pago, te enviaremos un mail de confirmación y se despachara tu pedido en los próximos 2 días hábiles.</p>
                        </div>
                    </article>

                </section>
            </div>
            
        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>