<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Babieka</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="productDetail.html">
        <link href="productCart.html">
        <link href="register.html">
        <link href="login.html">
    </head>
    <body>
        <header>
            
            <nav>
                <div id="logo">
                    <a href="/"><img src="design/logo_chico.jpg" alt="Logo"></a>
                </div>
                <div id="boton-menu">
                    <i class="fas fa-bars menu"></i>
                </div>
                <div id="barra-nav">
                    <div id="barra-nav1">
                        <a href="" class="space">COLECCIÓN</a>
                        <a href="" class="space">SALE</a>
                        <a href="" class="space">COMO COMPRAR</a>
                        <a href="" class="space">NOSOTROS</a>
                    </div>
                    <div id="barra-nav2">
                        <a href="" class="space"><i class="fas fa-search"></i></a>
                        <a href="" class="space"><i class="far fa-user-circle"></i></a>
                        <a href="productCart.html" class="space"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
            </nav>
            <img src="/img/img_home_1.jpg" alt="img_header">
        </header>
        <section class="banner">
            <div>
                <p><i class="far fa-credit-card"></i> 3, 6 y 12 cuotas sin interés!</p>
            </div>
            <div>
                <p><i class="fas fa-plane"></i> Envíos a todo el país gratis a partir de $3000</p>
            </div>
            <div>
                <p><i class="fas fa-money-bill-wave"></i> 10% descuento pagando con débito, depósito o transferencia</p>
            </div>
            <div>
                <p><i class="fab fa-whatsapp"></i> Tenés dudas? Contactanos y te asesoramos</p>
            </div>
        </section>
        <!--// 
        <main>
            
            <section class="main-box-1">
                <h1>MIRA LO MAS VENDIDO!</h1>
                <article>
                    <img src="/img/img_model_home.jpg" alt="Señorita Home">
                </article>
            </section>
            
            <section class="main-box-2">
                <h2>CASUAL</h2>
                <article>
                    <img src="/img/img_Melisa.jpg" alt="Sandalia Melisa">
                </article>
                <article>
                    <img src="/img/img_Fiama2.jpg" alt="Sandalia Fiama">
                </article>
            </section>    
            
            <section class="main-box-3"> 
                <h2>FIESTA</h2>
                <article>
                    <img src="/img/img_Bianca.jpg" alt="Sandalia Bianca">
                </article>
                <article>    
                    <img src="/img/img_Bernarda.jpg" alt="Sandalia Bernarda">
                </article>
                <article>
                    <img src="/img/img_Berenice.jpg" alt="Sandalia Berenice">
                </article>
            </section>   

        </main>
        //-->
        <footer>
            <section>
                
                <div>
                    <nav class="footer-box-1">
                        <a href="/">Home</a>
                        <a href="">Colección</a>
                        <a href="">Nosotros</a>
                        <a href="">Cómo comprar</a>
                    </nav>
                </div>

                <div class="footer-box-2">
                    
                    <h3>SEGUINOS EN:</h3>
                    <div>
                        <a href="https://www.instagram.com/babiekazapatos/?hl=es-la" class="space"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/babiekazapatos/" class="space"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>

                <div class="footer-box-2">
                    <h3>CONTACTANOS!</h3>
                    <div>
                        <a href="" class="space"><i class="fab fa-whatsapp"></i></a>
                        <a href="" class="space"><i class="far fa-envelope"></i></a>
                    </div>
                </div>

                <div class="footer-box-3">
                    <img src="img/img_card_visa.png" alt="Visa" class="space">
                    <img src="img/img_card_master.png" alt="MasterCard" class="space">
                    <img src="img/img_card_american.png" alt="American Express" class="space">
                </div>

            </section>
            <div id="copyright">
                <p id="margir-cero">BABIEKA © 2020. Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>