<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="productDetail.html">
        <link href="productCart.html">
        <link href="register.html">
        <link href="login.html">
        <title>Babieka</title>
    </head>
    <body>
        <header>
            
            <nav>
                <a href="index.html"><img src="design/logo_chico.jpg" alt="logo" width="5%"></a>
                <a href="">COLECCIÓN</a>
                <a href="">SALE</a>
                <a href="">COMO COMPRAR</a>
                <a href="">NOSOTROS</a>
                <i class="fas fa-search"></i>
                <i class="far fa-user-circle"></i>
                <a href="productCart.html"><i class="fas fa-shopping-bag"></i></a>
            </nav>
            <img src="/img/img_home_1.jpg" alt="img_header">
        </header>
        <section class="banner">
            <div>
                <p><i class="far fa-credit-card"></i> 3, 6 y 12 cuotas sin interés!</p>
            </div>
            <div>
                <p><i class="fas fa-plane"></i> Envíos a todo el país gratis a partir de $3000</p>
            </div>
            <div>
                <p><i class="fas fa-money-bill-wave"></i> 10% descuento pagando con débito, depósito o transferencia</p>
            </div>
            <div>
                <p><i class="fab fa-whatsapp"></i> Tenés dudas? Contactanos y te asesoramos</p>
            </div>
        </section>
        <main>
            
            <h1>MIRA LO MAS VENDIDO!</h1>
            <img src="/img/img_model_home.jpg" alt="Señorita Home">
            <h2>CASUAL</h2>
            <img src="/img/img_Melisa.jpg" alt="Sandalia Melisa">
            <img src="/img/img_Fiama2.jpg" alt="Sandalia Fiama">
            <h2>FIESTA</h2>
            <img src="/img/img_Bianca.jpg" alt="Sandalia Bianca">
            <img src="/img/img_Bernarda.jpg" alt="Sandalia Bernarda">
            <img src="/img/img_Berenice.jpg" alt="Sandalia Berenice">

        </main>
        <footer>
            <section>
                
                <div>
                    <nav>
                        <a href="index.html">Home</a>
                        <a href="">Colección</a>
                        <a href="">Nosotros</a>
                        <a href="">Cómo comprar</a>
                    </nav>
                </div>
                <div>
                    <h3>SEGUINOS EN:</h3>
                    <a href="https://www.instagram.com/babiekazapatos/?hl=es-la"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/babiekazapatos/"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div>
                    <h3>CONTACTANOS!</h3>
                    <a href=""><i class="fab fa-whatsapp"></i></a>
                    <a href=""><i class="far fa-envelope"></i></a>
                </div>
                <div>
                    <img src="img/img_card_visa.png" alt="Visa" width="5%">
                    <img src="img/img_card_master.png" alt="MasterCard" width="5%">
                    <img src="img/img_card_american.png" alt="American Express" width="5%">
                </div>

            </section>
            <div id="copyright">
                <p>BABIEKA ©2020. Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>