<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Babieka - Login</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="index.html">
        <link href="productDetail.html">
        <link href="productCart.html">
        <link href="register.html">
    </head>
    <body>
        
        <header>
            
            <nav>
                
                <div id="logo">
                    <a href="/"><img src="design/logo_chico.jpg" alt="Logo"></a>
                </div>
                
                <div id="boton-menu">
                    <i class="fas fa-bars menu"></i>
                </div>
               
                <div id="barra-nav">
                    <div id="barra-nav1">
                        <a href="" class="space">COLECCIÓN</a>
                        <a href="" class="space">SALE</a>
                        <a href="" class="space">COMO COMPRAR</a>
                        <a href="" class="space">NOSOTROS</a>
                    </div>
                    <div id="barra-nav2">
                        <a href="" class="space"><i class="fas fa-search"></i></a>
                        <a href="" class="space"><i class="far fa-user-circle"></i></a>
                        <a href="productCart.html" class="space"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>

            </nav>
           

        </header>
        
        
        <main class="loginmain">
           
            <img src="img/img_model_2.jpg" alt="imagen de una modelo" class="loginImage">

            <section class= "formulariologin">
                <h1 class="h1-size">Ingresar con mail y contraseña</h1>

                <form action="/" method="GET">
                    <p><label for="email">Email:</label></p>
                    <p><input type="email" name="email" id="email" placeholder="Ej: maria@babieka.com"></p>
                    <p><label for="password">Contraseña:</label></p>
                    <p><input type="password" name="password" id="password"></p>

                    <div class="forgotPass">
                        <a href="">¿Olvidaste tu contraseña?</a>
                    </div>

                    <button type="submit">Ingresar</button>
                </form>

            </section>
            
        </main>
        
        <footer>
            
            <section>
                
                <div class="padd-20">
                    <nav class="footer-box-1">
                        <a href="/" class="padd-5">Home</a>
                        <a href="" class="padd-5">Colección</a>
                        <a href="" class="padd-5">Nosotros</a>
                        <a href="" class="padd-5">Cómo comprar</a>
                    </nav>
                </div>

                <div class="footer-box-2 padd-20">
                    
                    <h3 class="margir-cero">SEGUINOS EN:</h3>
                    <div>
                        <a href="https://www.instagram.com/babiekazapatos/?hl=es-la" class="space" target="_BLANK"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/babiekazapatos/" class="space" target="_BLANK"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>

                <div class="footer-box-2 padd-20">
                    <h3 class="margir-cero">CONTACTANOS!</h3>
                    <div>
                        <a href="" class="space"><i class="fab fa-whatsapp"></i></a>
                        <a href="" class="space"><i class="far fa-envelope"></i></a>
                    </div>
                </div>

                <div class="footer-box-3">
                    <img src="img/img_card_visa.png" alt="Visa" class="space">
                    <img src="img/img_card_master.png" alt="MasterCard" class="space">
                    <img src="img/img_card_american.png" alt="American Express" class="space">
                </div>

            </section>
            
            <div id="copyright">
                <p class="margir-cero">BABIEKA © 2020. Todos los derechos reservados.</p>
            </div>

        </footer>
        
    </body>
</html>