<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="index.html">
        <link href="productCart.html">
        <link href="register.html">
        <link href="login.html">
        <title>Babieka</title>
    </head>
    <body>
        <header>
            
            <nav>
                <img src="design/logo_chico.jpg" alt="logo" width="5%">
                <a href="#">COLECCIÓN</a>
                <a href="">SALE</a>
                <a href="">COMO COMPRAR</a>
                <a href="">NOSOTROS</a>
                <i class="fas fa-search"></i>
                <i class="far fa-user-circle"></i>
                <i class="fas fa-shopping-bag"></i>
            </nav>
            <img src="" alt="img_header">
        </header>
        <section>
            <img src="" alt="banner">
        </section>
        <main>
            <h2>Detalle de Producto</h2>
        </main>
        <footer>
            <div>
                <nav>
                    <a href="#">Home</a>
                    <a href="">Colección</a>
                    <a href="">Nosotros</a>
                    <a href="">Cómo comprar</a>
                </nav>
            </div>
            <div>
                <h3>SEGUINOS EN:</h3>
                <a href="https://www.instagram.com/babiekazapatos/?hl=es-la"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/babiekazapatos/"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div>
                <h3>CONTACTANOS!</h3>
                <a href=""><i class="fab fa-whatsapp"></i></a>
                <a href=""><i class="far fa-envelope"></i></a>
            </div>
            <div>
                <img src="img/img_card_visa.png" alt="Visa" width="5%">
                <img src="img/img_card_master.png" alt="MasterCard" width="5%">
                <img src="img/img_card_american.png" alt="American Express" width="5%">
            </div>
            <div>
                <p>BABIEKA ©2020. Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>