<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Babieka - Carrito</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="index.html">
        <link href="register.html">
        <link href="productDetail.html">
        <link href="login.html">
    </head>
    <body>
        
        <header>
            
            <nav>
                
                <div id="logo">
                    <a href="/"><img src="design/logo_chico.jpg" alt="Logo"></a>
                </div>
                
                <div id="boton-menu">
                    <i class="fas fa-bars menu"></i>
                </div>
               
                <div id="barra-nav">
                    <div id="barra-nav1">
                        <a href="" class="space">COLECCIÓN</a>
                        <a href="" class="space">SALE</a>
                        <a href="" class="space">COMO COMPRAR</a>
                        <a href="" class="space">NOSOTROS</a>
                    </div>
                    <div id="barra-nav2">
                        <a href="" class="space"><i class="fas fa-search"></i></a>
                        <a href="" class="space"><i class="far fa-user-circle"></i></a>
                        <a href="productCart.html" class="space"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>

            </nav>
            <img src="/img/img_home_1.jpg" alt="img_header">

        </header>
        
        <section class="banner">
            
            <div class="banner-box">
                <p><i class="far fa-credit-card"></i> 3, 6 y 12 cuotas sin interés!</p>
            </div>
            <div class="banner-box">
                <p><i class="fas fa-plane"></i> Envíos a todo el país gratis a partir de $3000</p>
            </div>
            <div class="banner-box">
                <p><i class="fas fa-money-bill-wave"></i> 10% descuento pagando con débito o transferencia</p>
            </div>
            <div class="banner-box">
                <p><i class="fab fa-whatsapp"></i> Tenés dudas? Contactanos y te asesoramos</p>
            </div>

        </section>
        
        <main class="cart-mainbox">

            <h1>CARRITO</h1>
            <div> <!--// Box grande //-->
                
                <section class="cart-boxtitle col-main"> <!--// Box intermedio //-->
                
                    <div class="col-artic" id="artic">
                        <p>Articulo</p>
                    </div>
                    <div class="cart-boxsubtitle col-precio">
                        <p>Precio u.</p>
                        <p>Cantidad</p>
                        <p>Precio</p>
                    </div>

                </section>
                
                <section> <!--// Box intermedio //-->
                    
                    <div class="cart-boxartic col-main">    
                        <article class="new-artic col-artic"> <!--// Artículo 1 //-->
                            <img src="/img/img_Berenice.jpg" alt="Sandalias Berenice" class="cart-img">
                            <div class="new-subartic">
                                <p>Sandalias Berenice</p>
                                <br>
                                <p>Detalle: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos quibusdam.</p>
                            </div>
                        </article>
                        
                        <div class="cart-boxsubartic col-precio">
                            <div> <!--// Precio unitario //-->
                                <p>$4.700</p>
                            </div>
                            <div> <!--// Botones de cantidad //-->
                                <script>
                                    a=0;
                                </script>   
                                <form action="" method="">
                                    <a href="javascript:a--; update(a);"><i class="fas fa-minus"></i></a> 
                                    <input type="text" id="a" size="1"/>
                                    <a href="javascript:a++; update(a);"><i class="fas fa-plus"></i></a>
                                </form>
                                <script>
                                    input_a = document.getElementById('a');
                                    function update(){
                                        input_a.value=a;
                                    }
                                    update();
                                </script>
                            </div>
                            <div> <!--// Precio //-->
                                <p>$4.700</p>
                            </div>
                        </div>
                    </div>
                    <div class="cart-boxartic col-main">    
                        <article class="new-artic col-artic"> <!--// Artículo 2 //-->
                            <img src="/img/img_Bernarda.jpg" alt="Sandalias Bernarda" class="cart-img">
                            <div class="new-subartic">
                                <p>Sandalias Bernarda</p>
                                <br>
                                <p>Detalle: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos quibusdam.</p>
                            </div>
                        </article>
                        
                        <div class="cart-boxsubartic col-precio">
                            <div> <!--// Precio unitario //-->
                                <p>$3.600</p>
                            </div>
                            <div> <!--// Botones de cantidad //-->
                                <script>
                                    a=0;
                                </script>   
                                <form action="" method="">
                                    <a href="javascript:a--; update(a);"><i class="fas fa-minus"></i></a> 
                                    <input type="text" id="a" size="1"/>
                                    <a href="javascript:a++; update(a);"><i class="fas fa-plus"></i></a>
                                </form>
                                <script>
                                    input_a = document.getElementById('a');
                                    function update(){
                                        input_a.value=a;
                                    }
                                    update();
                                </script>
                            </div>
                            <div> <!--// Precio //-->
                                <p>$3.600</p>
                            </div>
                        </div>
                    </div>
                    <div class="cart-boxartic col-main">    
                        <article class="new-artic col-artic"> <!--// Artículo 3 //-->
                            <img src="/img/img_Bianca.jpg" alt="Sandalias Bianca" class="cart-img">
                            <div class="new-subartic">
                                <p>Sandalias Bianca</p>
                                <br>
                                <p>Detalle: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos quibusdam.</p>
                            </div>
                        </article>
                        
                        <div class="cart-boxsubartic col-precio">
                            <div> <!--// Precio unitario //-->
                                <p>$4.200</p>
                            </div>
                            <div> <!--// Botones de cantidad //-->
                                <script>
                                    a=0;
                                </script>   
                                <form action="" method="">
                                    <a href="javascript:a--; update(a);"><i class="fas fa-minus"></i></a> 
                                    <input type="text" id="a" size="1"/>
                                    <a href="javascript:a++; update(a);"><i class="fas fa-plus"></i></a>
                                </form>
                                <script>
                                    input_a = document.getElementById('a');
                                    function update(){
                                        input_a.value=a;
                                    }
                                    update();
                                </script>
                            </div>
                            <div> <!--// Precio //-->
                                <p>$4.200</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cart-boxbuy col-main"> <!--// Box intermedio //-->
                    
                    <div>
                        <p>Envío</p>
                        <p>$5.000</p>
                    </div>
                    <div>
                        <form action="">

                        </form>
                    </div>
                    <div>
                        <p>TOTAL</p>
                        <p>$5.000</p>
                    </div>
                    <div>
                        <div>
                            <input type="submit" value="COMPLETAR LA COMPRA" class="boton-envio">
                        </div>
                    </div>

                </section>

            </div>

        </main>
        
        <footer>
            
            <section>
                
                <div class="padd-20">
                    <nav class="footer-box-1">
                        <a href="/" class="padd-5">Home</a>
                        <a href="" class="padd-5">Colección</a>
                        <a href="" class="padd-5">Nosotros</a>
                        <a href="" class="padd-5">Cómo comprar</a>
                    </nav>
                </div>

                <div class="footer-box-2 padd-20">
                    
                    <h3 class="margir-cero">SEGUINOS EN:</h3>
                    <div>
                        <a href="https://www.instagram.com/babiekazapatos/?hl=es-la" class="space" target="_BLANK"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/babiekazapatos/" class="space" target="_BLANK"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>

                <div class="footer-box-2 padd-20">
                    <h3 class="margir-cero">CONTACTANOS!</h3>
                    <div>
                        <a href="" class="space"><i class="fab fa-whatsapp"></i></a>
                        <a href="" class="space"><i class="far fa-envelope"></i></a>
                    </div>
                </div>

                <div class="footer-box-3">
                    <img src="img/img_card_visa.png" alt="Visa" class="space">
                    <img src="img/img_card_master.png" alt="MasterCard" class="space">
                    <img src="img/img_card_american.png" alt="American Express" class="space">
                </div>

            </section>
            
            <div id="copyright">
                <p class="margir-cero">BABIEKA © 2020. Todos los derechos reservados.</p>
            </div>

        </footer>
        
    </body>
</html>