/*
* INDEX.HTML 
*/
    /*----------// CLASS //----------*/



    /*----------// ID //----------*/



    /*----------// TAG //----------*/
        /* Global */
        


        /* Header */
        header nav {
            border-bottom: 10px solid #F72718;
        }


        /* Main */



        /* Footer */
        footer {
            background-color: #F72718;
        }

        footer p {
            background-color: white;
        }

        footer img {
            background-color: white;
        }

    


/**
* REGISTER.HTML - LOGIN.HTML *
*/
    /*----------// CLASS //----------*/



    /*----------// ID //----------*/



    /*----------// TAG //----------*/
        /* Global */


        /* Main */