<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>   <!--// partial Head //-->
    <body>

        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <h1 class="centrar padd-20">COMO COMPRAR</h1>
        <img src="img\img_sitio-construccion.jpg" alt="Sitio en construcción" class="marg-auto imagen70 d-flex">

        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>