<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Home'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('./partials/header') %>   <!--// partial Header //-->
        
        <!-- <div id="contenedor-slider" class="contenedor-slider">                           
            <div id="slider" class="slider">
                <section class="slider__section">
                    <img src="/img/img_home_1.jpg" class="slider__img">
                </section>  

                <section class="slider__section">
                    <img src="/img/1.jpg" class="slider__img">
                </section> 

                <section class="slider__section">
                    <img src="/img/2.jpg" class="slider__img">
                </section>

                <section class="slider__section">
                    <img src="/img/3.jpg" class="slider__img">
                </section>
            </div>
            <div id="btn-prev" class="btn-prev">&#60;</div>
            <div id="btn-next" class="btn-next">&#62;</div>
        </div> -->

        <div>
            <img class= 'imagenbabieka' src="/img/img_home_1.jpg" alt="img_header">
        </div>
        
        <%- include('./partials/banner') %>   <!--// partial Banner //-->

        <main>
            
            <div class="main-block">
                   
                <div class="main-block main-box-1">   <!--// secci칩n Lo mas vendido //-->
                    <h1>MIRA LO MAS VENDIDO!</h1>
                    <article class="main-block">
                        <img src="/img/img_model_home.jpg" class="padd-0" alt="Se침orita Home">
                    </article>
                </div>

                <div class="main-block main-box-2">   <!--// secci칩n Casual //-->
                    <h2>CASUAL</h2>
                    <div>
                        <article class="main-block">
                            <a href="/producto/28">
                                <div class="casual-index opac-img">
                                    <img src="/img/products/img_Melisa.jpg" alt="Sandalia Melisa">
                                    <p class="marg-0 name-size">Sandalia Melisa</p>
                                    <p class="marg-0 name-size">$ 6000</p>
                                </div>
                            </a>
                        </article>
                        <article class="main-block">
                            <a href="/producto/21">
                                <div class="casual-index opac-img">
                                    <img src="/img/products/img_Fiama2.jpg" alt="Sandalia Fiama">
                                    <p class="marg-0 name-size">Sandalia Fiama</p>
                                    <p class="marg-0 name-size">$ 6000</p>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>

            </div>
                
            <div class="main-block">   <!--// secci칩n Fiesta //-->
                   
                <h2>FIESTA</h2>
                <div" class="main-block">
                    <article class="main-block main-box-3">
                        <a href="/producto/12">
                            <div class="casual-index opac-img">
                                <img src="/img/products/img_Bianca.jpg" alt="Sandalia Bianca">
                                <p class="marg-0 name-size">Sandalia Bianca</p>
                                <p class="marg-0 name-size">$ 7000</p>
                            </div>
                        </a>
                    </article>
                    <article class="main-block main-box-3">    
                        <a href="/producto/9">
                            <div class="casual-index opac-img">
                                <img src="/img/products/img_Bernarda.jpg" alt="Sandalia Bernarda">
                                <p class="marg-0 name-size">Sandalia Bernarda</p>
                                <p class="marg-0 name-size">$ 7000</p>
                            </div>
                        </a>
                    </article>
                    <article class="main-block main-box-3">
                        <a href="/producto/7">
                            <div class="casual-index opac-img">
                                <img src="/img/products/img_Berenice.jpg" alt="Sandalia Berenice">
                                <p class="marg-0 name-size">Sandalia Berenice</p>
                                <p class="marg-0 name-size">$ 7000</p>
                            </div>
                        </a>
                    </article>
                </div>

            </div>  

        </main>
        
        <%- include('./partials/footer') %>   <!--// partial Footer //-->

        <!-- <script src="/js/slider.js"></script> -->
        
    </body>
</html>