<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Home'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('./partials/header') %>   <!--// partial Header //-->
        
        <div>
            <img class= 'imagenbabieka' src="/img/img_home_1.jpg" alt="img_header">
        </div>
        
        <%- include('./partials/banner') %>   <!--// partial Banner //-->

        <main>
            
            <div class="main-block">
                   
                <div class="main-block main-box-1">   <!--// secci칩n Lo mas vendido //-->
                    <h1>MIRA LO MAS VENDIDO!</h1>
                    <article class="main-block">
                        <img src="/img/img_model_home.jpg" alt="Se침orita Home">
                    </article>
                </div>

                <div class="main-block main-box-2">   <!--// secci칩n Casual //-->
                    <h2>CASUAL</h2>
                    <div>
                        <article class="main-block">
                            <div class="casual-index opac-img">
                                <img src="/img/products/img_Melisa.jpg" alt="Sandalia Melisa">
                                <p class="marg-0">Sandalia Melisa</p>
                                <p class="marg-0">$4000</p>
                            </div>
                        </article>
                        <article class="main-block">
                            <div class="casual-index opac-img">
                                <img src="/img/products/img_Fiama2.jpg" alt="Sandalia Fiama">
                                <p class="marg-0"><a href="/producto/15">Sandalia Fiama</a></p>
                                <p class="marg-0">$4000</p>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
                
            <div class="main-block">   <!--// secci칩n Fiesta //-->
                   
                <h2>FIESTA</h2>
                <div" class="main-block">
                    <article class="main-block main-box-3">
                        <div class="casual-index opac-img">
                            <img src="/img/products/img_Bianca.jpg" alt="Sandalia Bianca">
                            <p class="marg-0">Sandalia Bianca</p>
                            <p class="marg-0">$4000</p>
                        </div>
                    </article>
                    <article class="main-block main-box-3">    
                        <div class="casual-index opac-img">
                            <img src="/img/products/img_Bernarda.jpg" alt="Sandalia Bernarda">
                            <p class="marg-0">Sandalia Bernarda</p>
                            <p class="marg-0">$4000</p>
                        </div>
                    </article>
                    <article class="main-block main-box-3">
                        <div class="casual-index opac-img">
                            <img src="/img/products/img_Berenice.jpg" alt="Sandalia Berenice" >
                            <p class="marg-0">Sandalia Berenice</p>
                            <p class="marg-0">$4000</p>
                        </div>
                    </article>
                </div>

            </div>  

        </main>
        
        <%- include('./partials/footer') %>   <!--// partial Footer //-->

        <script src="../../public/js/scripts.js" type="text/javascript"></script>
        
    </body>
</html>