<header>
            
    <nav>
        
        <div id="logo">   <!--// Logo Babieka //-->
            <a href="/">
                <img src="/design/logo_chico.jpg" alt="Logo">
            </a>
        </div>
        
        <div id="boton-menu">   <!--// Botón Menu //-->
            <i class="fas fa-bars menu"></i>
        </div>
       
        <div id="barra-nav">   <!--// Barra Navegación //-->
            
            <div id="barra-nav1">
                <ul class="nav">
                    <li>
                        <div class="form-inline f-search space" style="font-size: 15px; color:black">
                            <form action="/buscar" method="GET" class="lupa space">
                                <button class="lupa lupa_red"><i class="fas fa-search"></i></button>
                                <input name="search" type="text" placeholder="Buscar">
                            </form>
                        </div>
                    </li>
                    <li><a href="/producto" class="space linea-med">COLECCIÓN</a></li>
                    <li><a href="/producto/sale" class="space linea-med">SALE</a></li>
                    <% if (loggedUser && loggedUser.role.name == 'admin') { %>
                        <li><a href="" class="space linea-med">LISTADO</a>
                            <ul> 
                                <li><a href="/usuario/listado" class="linea-izq">USUARIOS</a></li>    
                                <li><a href="/producto/listado" class="linea-izq">ARTÍCULOS</a></li>
                            </ul>
                        </li>
                        <li><a href="" class="space linea-med">CARGAR</a>
                            <ul> 
                                <li><a href="/usuario/registro" class="linea-izq">USUARIO</a></li>    
                                <li><a href="/producto/crear" class="linea-izq">ARTÍCULO</a></li>
                            </ul>
                        </li>
                    <% } else {%>
                        <li><a href="/como-comprar" class="space linea-med">COMO COMPRAR</a></li>
                        <li><a href="/nosotros" class="linea-med">NOSOTROS</a></li>
                    <% } %>
                </ul>
            </div>
            <div id="barra-nav2">
                <ul class="nav">
                    <!-- <li><a href="" class="space"><i class="fas fa-search"></i></a></li> -->
                    <% if (loggedUser && loggedUser.role.name == 'admin') { %>
                        <li><a href="" class="space"><i class="fas fa-user-circle" style="color: goldenrod;"></i></a>
                    <% } else if (loggedUser) {%>
                        <li><a href="" class="space"><i class="fas fa-user-circle" style="color: #FA1E1E;"></i></a>
                    <% } else {%>
                        <li><a href="" class="space"><i class="far fa-user-circle"></i></a>
                    <% } %>
                        <ul>
                            <% if (loggedUser) { %>
                                <li class="cursor-arrow"><a href="" class="font-roboto font-size-12">Hola <%= loggedUser.first_name %>!</a></li> 
                                <li><a href="/usuario/perfil" class="linea-izq">Perfil</a></li>    
                                <li><a href="/usuario/logout" class="linea-izq">Cerrar sesión</a></li>
                            <% } else {%>
                                <li><a href="/usuario/login" class="linea-izq">Ingresá</a></li>    
                                <li><a href="/usuario/registro" class="linea-izq">Registrate</a></li>
                            <% } %>
                        </ul>
                    </li>
                    <li><a href="/producto/carrito" class="space"><i class="fas fa-shopping-bag"></i></a></li>
                </ul>
            </div>
            
        </div>

    </nav>
    
</header>