<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head', {title: 'Nosotros'}) %>   <!--// partial Head //-->
    
    <body>

        <%- include('../partials/header') %>   <!--// partial Header //-->

        <main class="mainUs">
            
            <div class="imageUs">
                <img src="img\img_nosotros.jpg" alt="nuestra fabrica"  >
            </div>     
            
            <div class="usSection">
                <section >
                    <h1 class="centrar padd-20">NOSOTROS</h1>

                    <article>
                        <h2>La fábrica</h2>
                        <div >
                            <p>Nuestra fábrica cuenta con la última tecnología en maquinaria para la fabricación de calzado.</p>
                            <p>Además, nuestra planta cumple con las normas ISO 9001:2008 que garantizan la calidad en cada uno de nuestros zapatos.</p>
                        </div>
                    </article>

                    <article>
                        <h2>El showroom</h2>
                        <div>
                            <p>Nuestro showroom se encuentra en la Ciudad Autonoma de Bs. As., sobre su principal acceso: Av. Gral. Paz.</p>
                            <p>En él, vas a encontrar nuestra colección completa y vas a poder solicitar un asesoramiento personalizado.</p>
                        </div>    
                    </article>
                </section>
            </div>

        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>