<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Login'}) %>
    <body>
        
        <%- include('../partials/header') %>
        
        <main class="loginmain">
           
            <img src="/img/img_model_2.jpg" alt="imagen de una modelo" class="loginImage">

            <section class= "formulariologin">
                <h1 class="h1-size">Ingresar con mail y contrase単a</h1>

                <form action="/usuario/login" method="POST">
                    <p><label for="email">Email:</label></p>
                    <p><input type="email" name="email" id="email" placeholder="Ej: maria@babieka.com"></p>
                    <p><label for="password">Contrase単a:</label></p>
                    <p><input type="password" name="password" id="password"></p>

                    <div class="forgotPass">
                        <a href="">多Olvidaste tu contrase単a?</a>
                    </div>

                    <button type="submit">Ingresar</button>
                </form>

            </section>
            
        </main>
        
        <%- include('../partials/footer') %>
        
    </body>
</html>