<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Login'}) %>
    <body>
        
        <%- include('../partials/header') %>
        
        <main class="loginmain">
           
            <img src="/img/img_model_2.jpg" alt="imagen de una modelo" class="loginImage">

            <section class= "formulariologin">
                <h1 class="h1-size">Ingresar con mail y contraseña</h1>

                <form action="/usuario/login" method="POST">
                    <p><label for="email">Email:</label></p>
                    <p><input type="email" name="email" id="email" placeholder="Ej: maria@babieka.com"></p>
                    <p><label for="password">Contraseña:</label></p>
                    <p><input type="password" name="password" id="password"></p>

                    <div class="forgotPass">
                        <a href="">¿Olvidaste tu contraseña?</a>
                    </div>

                    <div>
                        <label for="remember" class="form-label">Recuérdame</label>
                        <input type="checkbox" id="remember" name="remember" class="form-check">
                    </div>

                    <button type="submit">Ingresar</button>
                </form>

            </section>
            
        </main>
        
        <%- include('../partials/footer') %>
        
    </body>
</html>