<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <div>
            <img class= 'imagenbabieka' src="/img/img_home_1.jpg" alt="img_header">
        </div>
        
        <%- include('../partials/banner') %>   <!--// partial Banner //-->

        <main class="fd-col">
        
            <h1 class="centrar padd-20">SALE</h1>
            <img src="/img\img_sitio-construccion.jpg" alt="Sitio en construcción" class="marg-auto imagen70 d-flex">    
        
        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->

    </body>
</html>